$color-bot: royalblue;
$color-human: salmon;
$color-main: #311313;

* {
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    left: 94px;
    width: 90px;
    height: 300px;
    border-left: 10px solid $color-main;
    border-right: 10px solid $color-main;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 94px;
    width: 300px;
    height: 90;
    border-top: 10px solid $color-main;
    border-bottom: 10px solid $color-main;
    pointer-events: none;
  }

  &.bot-turn {
    pointer-events: none;
  }

  .empty,
  .maximizer,
  .minimizer {
    width: calc(100% / 3);
  }

  .empty {
    cursor: pointer;
  }

  .maximizer {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 50%;
      border: 10px solid $color-human;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .minimizer {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 75%;
      background-color: $color-bot;
      border-radius: 3px;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

#message {
  margin-top: 40px;
  color: $color-main;
  text-align: center;
  font-size: 20px;

  p {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 3px;
  }
}

#replay {
  margin-top: 20px;
  padding: 5px 10px;
  color: $color-main;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  background-color: #c7efe1;
  cursor: pointer;
  transition: all 250ms ease-in-out;

  &:hover {
    background-color: a4ecd3;
  }
}
